// -----------COLORS--------------

$color-white: #fff;
$color-slate-50: #f8fafc;
$color-slate-400: #90a1b9;
$color-slate-900: #0f172b;
$color-slate-950: #0f172b;

$color-blue-100: #BFD7F1;
$color-blue-500: #4288d5;
$color-blue-700: #205691; //main
$color-blue-800: #173d67;

$color-green-100: #d4e7d6;
$color-green-500: #49cb5a;
$color-green-700: #278733; //main
$color-green-800: #1c5f24;

$color-orange-200: #fea199;
$color-orange-300: #fd7267; //main
$color-orange-400: #fc4335;

//-----BREAKING POINTS------
$breakpoint-medium: 48rem; //768px
$breakpoint-large: 64rem; //1024px

//-----typography------
$font-family-primary: "Source Sans 3", sans-serif;
$font-family-secondary: "Helvetica", sans-serif;

$font-size-sm: 16px;
$font-size-md: 24px;
$font-size-lg: 30px;
$font-size-xl: 60px;
$font-size-2xl: 90px;
