.card {
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border-radius: 0.625rem;

  // box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  //   0 2px 4px -1px rgba(0, 0, 0, 0.06);

  box-shadow: 0 0 4px -1px rgba($color: #000000, $alpha: 0.1);

  &__containerImage {
    border-radius: 0.625rem;

    overflow: hidden;
  }
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
  img {
    border-radius: 0.625rem;
    transition: transform 800ms ease-in-out;
  }

  &__info {
    flex-grow: 0;
    margin-bottom: 1.25rem;
  }

  &__containerButton {
    margin-top: auto;
  }
}

.card .card__info {
  h3 {
    @include vars.style-text(
      vars.$font-family-primary,
      700,
      vars.$font-size-lg,
      1.2
    );

    color: vars.$color-blue-800;
    margin: 1.5rem 0 0.75rem;
  }

  p {
    @include vars.style-text(
      vars.$font-family-secondary,
      400,
      vars.$font-size-sm,
      1.5
    );

    color: vars.$color-blue-800;

    span {
      font-weight: 600;
    }
  }

  &__description {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
