.card {
  width: 22rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
  &:hover {
    & > img {
      transform: scale(1.1);
    }
  }
  img {
    border-radius: 0.625rem;
    transition: transform 800ms ease-in-out;
  }

  &__info {
    flex-grow: 0;
    margin-bottom: 1.25rem;
  }

  &__containerButton {
    margin-top: auto;
  }
}

.card .card__info {
  h3 {
    @include vars.style-text(
      vars.$font-family-primary,
      700,
      vars.$font-size-lg,
      1.2
    );

    color: vars.$color-blue-800;
    margin: 1.5rem 0 .75rem;
  }

  p {
    @include vars.style-text(
      vars.$font-family-secondary,
      400,
      vars.$font-size-sm,
      1.5
    );

    color: vars.$color-blue-800;

    span {
      font-weight: 600;
    }
  }

  &__description {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
