.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.625rem;

  @media (min-width: vars.$breakpoint-medium) {
    flex-direction: row;
    width: 90%;
  }

  img {
    width: 26rem;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 100%;
    border: 4px solid vars.$color-blue-500;
    transition: border-color 300ms ease;
    &:hover {
      border-color: vars.$color-blue-700;
    }

    @media (min-width: vars.$breakpoint-medium) {
      width: 18rem;
    }
  }

  &__content {
    h2 {
      @include vars.style-text(
        vars.$font-family-primary,
        700,
        vars.$font-size-lg,
        1.1
      );
      margin-bottom: 2px;
    }

    span {
      color: vars.$color-green-700;
    }

    & > p {
      margin: 2.25rem 0 0.75rem;

      @media (min-width: vars.$breakpoint-medium) {
        margin-top: 1.25rem;
      }
    }

    &__contact {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      svg {
        margin-right: 0.375rem;
      }

      @media (min-width: vars.$breakpoint-medium) {
        flex-direction: row;
        p {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: vars.$breakpoint-medium) {
      justify-content: start;
    }

    gap: 26px;
    margin-top: 1.5rem;

    p {
      background-color: vars.$color-green-100;
      color: vars.$color-green-700;
      padding: 0.375rem 0.875rem;
      border-radius: 0.625rem;

      transition: color 300ms ease;

      &:hover {
        color: vars.$color-blue-800;
      }
    }
  }
}
