.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.625rem;
  margin: 2rem 0;
  text-align: center;

  @media (min-width: vars.$breakpoint-medium) {
    margin: 0;
    flex-direction: row;
    width: 90%;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 2px 2px rgba($color: #000000, $alpha: 0.6);

    transition: box-shadow 100ms ease-in;
    &:hover {
      box-shadow: 0 0 2px 2px rgba($color: vars.$color-blue-700, $alpha: 0.6);
    }
  }

  img {
    width: 26rem;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 100%;
    border: 4px solid vars.$color-blue-500;
    transition: border-color 300ms ease;
    &:hover {
      border-color: vars.$color-blue-700;
    }

    @media (min-width: vars.$breakpoint-medium) {
      width: 18rem;
    }
  }

  &__content {
    h2 {
      @include vars.style-text(
        vars.$font-family-primary,
        700,
        vars.$font-size-lg,
        1.1
      );
      margin-bottom: 2px;
    }

    span {
      color: vars.$color-green-700;
    }

    & > p {
      margin: 2.25rem 0 2.25rem;

      @media (min-width: vars.$breakpoint-medium) {
        margin: 1.25rem 0 0.75rem;
      }
    }

    &__contact {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      svg {
        margin-right: 0.375rem;
      }

      @media (min-width: vars.$breakpoint-medium) {
        flex-direction: row;
        gap: 1.5rem;
        p {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &__tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;

    flex-direction: column;
    margin: 1.5rem auto 0;
    width: 90%;
    margin-top: 1.5rem;

    @media (min-width: vars.$breakpoint-medium) {
      flex-direction: row;
      justify-content: start;
      margin: 1.5rem 0 0;
      width: 100%;
    }

    p {
      border: 1px solid vars.$color-green-100;
      background-color: vars.$color-green-100;
      color: vars.$color-green-700;
      padding: 0.375rem 0.875rem;
      border-radius: 0.625rem;

      transition: color 300ms ease, border 300ms ease;

      &:hover {
        color: vars.$color-slate-950;
        border-color: vars.$color-green-700;
      }
    }
  }
}
