.dialog {
  position: absolute;
  top: 150%;
  left: -300%;

  min-width: 5rem;
  width: max-content;
  min-height: 5rem;
  height: max-content;

  background-color: vars.$color-blue-700;
  padding: 1.25rem 0.5rem;
  color: vars.$color-white;
  border: 1px solid vars.$color-blue-800;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1;

  & > a {
    display: block;
    white-space: nowrap;
  }

  transform-origin: top;
  transition: opacity 300ms ease, transform 300ms ease;
  opacity: 0;
  transform: translateY(-8px) scale(0.95);
}

.open {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
}
