.container {
  text-align: center;
  align-items: center;
  width: 100%;
  margin: 2rem auto;

  h2 {
    @include vars.style-text(vars.$font-family-primary, 700, 50px, 1.1);
    color: vars.$color-blue-700;
    margin-bottom: 2rem;
  }

  &__List {
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
    max-width: 1200px;
    margin: 0 auto;

    @media (min-width: vars.$breakpoint-medium) {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: clamp(2rem, -2.923rem + 7.69vw, 4rem);
    }
  }
}
