footer {
  width: 100%;
  height: fit-content;
  padding: 0.5rem 0;

  text-align: center;
  background-color: vars.$color-slate-400;
}

@media (min-width: vars.$breakpoint-large) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
